# Servidor SSH
SSH_HOST=tu_host
SSH_USER=tu_user
SSH_PASSWORD=tu_password
SSH_PORT=tu_puerto

# Base de Datos (DB_CONFIG)
DB_USER=tu_user_db
DB_PASSWORD=tu_psw_db
DB_HOST=tu_host_db
DB_PORT=tu_puerto_db
DB_SID=tu_sid

# Base de Datos Marruecos (DB_CONFIG_EURAFR)
DB_COUNTRY_HOST=tu_host_ssh

# Configuración de Correo
EMAIL_SENDER=tu_correo
EMAIL_PASSWORD=tu_psw
EMAIL_SMTP_SERVER=smtp.office365.com_tusmtp_server
EMAIL_SMTP_PORT=tu_puerto_smtp

# Destinatarios por defecto (separados por coma)
DEFAULT_TO=tus_correos_por_defecto
DEFAULT_CC=tus_correos_concopia_por_defecto
FLASK_SECRET_KEY=tu_llave_flask